@import "tailwindcss";
@plugin "daisyui";


/* font */

@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/oldenglishtextmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-font{
    font-family: 'MyFont', sans-serif;
}