/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* tailwind and daisyui import */
@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default, dark --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #F3F3F3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}





/* font and font face application */
*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/oldenglishtextmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-font{
    font-family: 'MyFont', sans-serif;
}


/* catagory button */

a.active{
    background-color: black;
    color: white;
}